*{
    padding: 0;
    margin: 0;
}
.btn-primary{
    padding: 20px 30px;
    border-radius: 8px;
    background-color: #E55473;
    font-weight: 600;
    font-style: normal;
    color: #FFF;
    border: 0;
    font-size: 15px;
}
.deal-main-container{
    font-family: 'Open Sans', sans-serif;
    width: 1200px;
    background-color: cadetblue;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('./assets/banner/Rectangle\ 9.png');
    background-size: cover;
    background-repeat: no-repeat;
    margin: auto;
    text-align: center;
    border-radius: 10px;

}
.deal-title{
    font-size: 40px;
    font-weight: bold;
}
.deal-dscription{
    color: rgba(39, 39, 39, 0.60);
    font-size: 15px;
    margin-top: 10px;
}
.deal-subs{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 700px;
    padding: 20px;
    gap: 10px;
    margin-top: 30px;
}
input[type="email"]{
    font-family: Lato;
    width: 100%;
    padding: 20px 43px;
    border-radius: 5px;
    border: 0;
    padding-left: 20px;
    font-style: normal;
    font-size: 12px;
    background: #FFF;
    color: rgba(39, 39, 39, 0.60);
}