*{
    padding: 0;
    margin: 0;
    font-family: 'Lato', sans-serif;
}
/* primary section */
.btn-primary{
    padding: 20px 30px;
    border-radius: 8px;
    background-color: #E55473;
    font-weight: 600;
    font-style: normal;
    color: #FFF;
    border: 0;
    font-size: 15px;
}
/* banner main container section */
.banner-main-container{
    width: 100vw;
    font-family: Arial;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 525px;
    background: rgba(229, 84, 115, 0.10);
    padding:0px 5px 50px;
    padding-top: 100px;
    gap: 50px;
}
.banner-left{
    padding-right: 80px;
    width: 600px;
}
.banner-left-tile{
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
    color: #272727;
    font-size: 50px;
    font-weight: bolder;
}
.banner-left-description{
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
    margin-top: 25px ;
    margin-bottom: 30px;
    color: rgba(39, 39, 39, 0.60);
    line-height: 25px;
    /* font-weight: 200; */
}
.banner-btn{
    font-weight: 400;
    padding: 15px 30px;
}
.flower-pic{
    width: 500px;

}
/* featured-container-start */
.featured-main-container{
    height: 655px;
    padding-top: 120px;
}
.featured-box-container{
    width: 1200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 495px;
    margin: auto;
    margin-bottom: 50px;
    /* padding-top: -50px; */
}
.featured-header{
    text-align: center;
}
.featured-header h2{
    font-family: 'Open Sans', sans-serif;
    font-size: 40px;
    font-weight: 800;
    color: #272727;
    margin-bottom: 20px;
}
.featured-header p{
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    font-weight: 400;
    color: rgba(39, 39, 39, 0.60);
}
.featured-box{
    text-align: center;
    width: 250px;
    height: 295px;
    padding: 50px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
    /* border:  3px solid red; */
}
.feature-box-2{
    background: rgba(5, 151, 160, 0.15);
}
.feature-box-3{
    background: rgba(71, 125, 17, 0.15);
}
.featured-pic{
    width: 100%;
}
.featured-pic-2{
    width: 100%;
    margin-top: 60px;
}
.featured-pic-3{
    width: 92%;
}
.feature-botton{
    font-size: 20px;
    margin-top: 20px;
    text-decoration: underline;
}
.feature-botton-2{
    font-size: 20px;
    margin-top: 55px;
    text-decoration: underline;
}
/* icon main container */
.icon-main-container{
    width: 1145px;
    height: 250px;
    padding-top:30px;
    padding-bottom:40px;
    margin: auto;
}
.icon-container{
    font-family:Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-right: 20px;
    height: 220px;
    border-radius: 8px;
    background: rgba(39, 39, 39, 0.05);
}
.icon-box{
    text-align: center;
}
.icons-img{
    width: 60px;
    padding-bottom: 10px;
}
.icons-des{
    font-size: 15px;
    color: rgba(39, 39, 39, 0.80);
    font-weight:550;
    /* line-height: 35px; */

}
/* saleup main container section */

.saleup-main-container{

    width:100vw;
    height: 450px;
    background: rgba(229, 84, 115, 0.05);
    margin: auto;

}
.saleup-container{
    padding-top: 80px;
    padding-bottom: 40px;
    display: flex;
    gap: 200px;
    justify-content:center;
    align-items: center;
}
.saleup-left-bar{
    /* width: 800px; */
}
.saleup-items{
    text-align: center;
    padding-top: 40px;
    width: 430px;
    
}
.saleup-items-title{
    font-size: 30px;
    padding-bottom: 20px;
    font-weight: 800;
}
.saleup-items-descriptipn{
    font-family: 'Open Sans', sans-serif;
    color: rgba(39, 39, 39, 0.60);
    padding-bottom: 20px;
    font-size: 15px;
}
.saleup-left-bar{
    width: 300px;
}
.saleup-flower-img{
    width:225px;
}
.saleup-btn{
    display: inline-flex;
    font-size: 15px;
    display: inline-flex;
    padding: 14px 30px;
    font-weight: 400;
}
/* instagram main container */

.insta-main-container{
    width: 1200px;
    height: 520px;
    margin: auto;
}
.insta-box-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding-top: 40px;
}
.insta-image{
    width: 285px;
}
.insta-header{
    padding-top: 80px;
    display: block;
    width: 500px;
    text-align: center;
    margin: auto;
}
.insta-title{
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-weight: bolder;
    font-size: 30px;
}
.insta-description{
    font-family: 'Open Sans', sans-serif;
    padding-top: 10px;
    color: rgba(39, 39, 39, 0.60);
    line-height:20px;
}

/* Get The Latest Deals */
.deal-main-container{
    height: 350px;
    padding-top:120px;
    padding-bottom:120px;
    margin: auto;
}
.deal-container{
    width: 1200px;
    background-color: cadetblue;
    height: 374px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('./assets/banner/Rectangle\ 9.png');
    background-size: cover;
    background-repeat: no-repeat;
    margin: auto;
    text-align: center;
    border-radius: 10px;

}
.deal-title{
    font-size: 40px;
    font-weight: bold;
}
.deal-description{
    font-family: 'Open Sans', sans-serif;
    color: rgba(39, 39, 39, 0.60);
    font-size: 15px;
    margin-top: 10px;
}
.deal-subs{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 700px;
    padding: 20px;
    gap: 10px;
    margin-top: 30px;
}
input[type="email"]{
    font-family: Lato;
    width: 100%;
    padding: 20px 43px;
    border-radius: 5px;
    border: 0;
    padding-left: 20px;
    font-style: normal;
    font-size: 12px;
    background: #FFF;
    color: rgba(39, 39, 39, 0.60);
}
/* customer feedback section */
.feedback-main-container{
    font-family: 'Open Sans', sans-serif;
    height: 400px;
    background-color: #f4f7fa;
    margin-bottom: 100px;
}
.feedback-container{
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.feedback-item{
    text-align: center;
}
.feedback-title{
    padding-bottom: 20px;
    font-size: 30px;
}
.feedback-description{
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
}
.feedback-description-footer{
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
    padding-top: 20px;
}

/* footer main container section */

.footer-main-container{
    height: 400px;
    background-color: black;
    color: white;
}
.footer-container{
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer-item{
    width:500px;
    height: 200px;
    line-height: 1.5;
    text-align: center;
    /* background-color: aqua; */
}
.footer-header-title{
    padding-bottom: 10px;
    font-size: 50px;
}
.footer-header-description{
    font-family: 'Open Sans', sans-serif;
    padding-bottom: 20px;
    color: rgba(255, 255, 255, 0.90);
    font-weight: 400;
}
.footer-copyright{
    color: rgba(255, 255, 255, 0.40);
}